@import 'main';

.header {
  z-index: 200;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: aotw-grid(2);
  width: 100%;
  padding: aotw-grid(2);

  &_title {
    display: flex;
    align-items: center;
    gap: aotw-grid(2);

    img {
      height: 20px;
    }
  }
}
