@import 'variables/variables';

:host {
  display: block;

  ul {
    display: grid;
    gap: aotw-grid(2);
    padding: aotw-grid(2);

    li {
      cursor: pointer;

      padding: aotw-grid(2) 0;

    }
    &.list {
      gap: 0;
      
      li {
        display: grid;
        grid-template-columns: aotw-grid(10) 1fr;
        align-items: center;
        gap: aotw-grid(2);
      }
    }
  }
}
