@import 'variables/variables';

:host {
  display: block;

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: aotw-grid(2);
    padding: aotw-grid(2);

    li {
      cursor: pointer;

      padding: aotw-grid(2) 0;
    }
  }
}
