@import 'aotw-lib/theme/colors';
@import 'aotw-lib/theme/typography';
@import 'aotw-lib/theme/variables';

:host {
  display: flex;
  align-items: center;
  padding-block: aotw-grid(1);

  * {
    @include typography-button;
    color: $primary-blue;
  }
  p {
    width: aotw-grid(12);

    text-align: center;
  }
  button {
    width: aotw-grid(8);
    height: aotw-grid(8);

    &:disabled {
      opacity: 0.35;
    }
  }
}
