@import 'variables/colors';
@import 'variables/typography';
@import 'variables/variables';

:host {
  display: flex;
  align-items: center;
  gap: aotw-grid(4);
  padding-block: aotw-grid(1);

  * {
    @include typography-button;
    color: $primary-blue;
  }
  p {
    width: aotw-grid(10);

    text-align: center;
  }
  button {
    width: aotw-grid(8);
    height: aotw-grid(8);
  }
}
