@import 'variables/colors';
@import 'variables/variables';

:host {
  z-index: 300;
  position: absolute;
  display: flex;
  inset: 0;

  .dialog {
    display: grid;
    grid-template-rows: auto 1fr;
    top: 50px;
    left: aotw-grid(2);
    min-width: 300px;
    max-width: 400px;
    min-height: 400px;
    margin: auto;
    padding: aotw-grid(1) aotw-grid(2) aotw-grid(2);

    background-color: $primary-blue;

    color: $default-white;

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &_content {
      display: grid;
      grid-template-rows: 1fr auto;
      gap: aotw-grid(1);
      padding-top: aotw-grid(2);
    }
  }
}
