@import 'aotw-lib/theme/colors';
@import 'aotw-lib/theme/variables';
@import 'aotw-lib/theme/typography';

.search-bar {
  width: 100%;
  height: 35px;
  margin: aotw-grid(1) 0;
  padding: aotw-grid(2);

  @include typography-input();

  &:focus {
    outline: 1px solid $default-black;
  }
  &::placeholder {
    color: $default-grey;
  }
}
