@import 'main';

:host {
  z-index: 199;
  position: fixed;
  top: 0;
  right: -100%;
  width: 400px;
  height: 100%;
  max-width: 100%;

  transition: all 150ms ease-out;

  &.active {
    right: 0;
  }
}

.menu {
  height: 100%;
  padding: aotw-grid(10) aotw-grid(2) aotw-grid(5);

  background-color: $default-white;
}