@import 'variables/colors';
@import 'variables/variables';

.categories {
  padding-inline: aotw-grid(2);

  ul {
    display: flex;
    justify-content: space-around;
    gap: aotw-grid(2);
    margin-block: aotw-grid(1);

    li {
      width: 100%;

      text-align: center;

      button {
        width: 100%;
        height: 80px;

        background-color: $secondary-ice;

        text-transform: capitalize;
      }
    }
  }
}
