<aotw-dialog dialogTitle="Filters" (closed)="close()">
  <div class="items">
    <div
      *ngFor="let filter of selectedFilters; let i = index"
      [ngClass]="{'checked': filter.checked}"
      (click)="onChangeToggleFilter(i)"
    >
      <img src="../../assets/icons/icn-check.svg" alt="">
      {{ filter.name }}
    </div>
  </div>
  <!-- TODO: Integrate footer with submit into aotw-dialog (as optionally) -->
  <footer>
    <button type="submit" class="btn-secondary" (click)="onSubmit()">Apply</button>
  </footer>
</aotw-dialog>
