@import 'aotw-lib/theme/colors';
@import 'aotw-lib/theme/variables';

.items {
  div {
    display: flex;
    align-items: center;
    gap: aotw-grid(1);

    cursor: pointer;
    opacity: .35;

    img {
      opacity: 0;
    }
    &.checked {
      opacity: 1;

      color: $default-white;

      img {
        opacity: 1;
      }
    }
  }
}
footer {
  display: flex;
  justify-content: flex-end;
}
