<div class="filters">
  <header>
    <h3>Filters</h3>
    <button class="btn-close" (click)="close()"></button>
  </header>
  <div class="filters_content">
    <div
      *ngFor="let filter of filters; let i = index"
      class="filters_content__item"
      [ngClass]="{'checked': filter.checked}"
      (click)="onChangeToggleFilter(i)"
    >{{ filter.name }}</div>
  </div>
  <footer>
    <button type="submit" class="btn-secondary" (click)="onSubmit()">Apply</button>
  </footer>
</div>
<app-scrim (click)="close()"></app-scrim>
