<section>
  <app-discover-header
    *ngIf="!activeItem.parents.length"
    (setItem)="setActiveItem($event, 'main')"
  ></app-discover-header>
  <app-discover-subheader
    *ngIf="activeItem.parents.length"
    (setItem)="setActiveItem($event, 'parent')"
  ></app-discover-subheader>
  <div class="filters">
    <button
      class="btn-filter"
      [disabled]="!activeItem.selectedItems.length"
      (click)="showFilters()"
    >
      <img src="../../assets/icons/icn-filter.svg" alt="">
    </button>
    <aotw-year-picker></aotw-year-picker>
    <aotw-grid-toggle></aotw-grid-toggle>
  </div>
</section>
<aotw-grid
  [items]="activeItem.filteredItems"
  [parentNames]="activeItem.parentNames"
  (setItem)="setActiveItem($event, 'children')"
></aotw-grid>
