@import 'variables/colors';
@import 'variables/variables';

section {
  z-index: 100;
  position: sticky;
  top: aotw-grid(4);
  width: 100%;
  height: 160px;

  background-color: $secondary-smoke;
  border-bottom: 2px solid $default-white;
}
