<section>
  <app-discover-header *ngIf="!activeItem.parents.length"></app-discover-header>
  <app-discover-subheader *ngIf="activeItem.parents.length"></app-discover-subheader>
  <div class="filters">
    <div class="filters_dialog">
      <button class="btn-filter" (click)="showFilters = true">
        <img src="../../assets/icons/icn-filter.svg" alt="">
      </button>
      <app-filters *ngIf="showFilters" (hideFilters)="showFilters = false"></app-filters>
    </div>
    <app-year-picker></app-year-picker>
    <app-grid-toggle></app-grid-toggle>
  </div>
</section>
<app-discover-grid></app-discover-grid>