<section>
  <app-discover-header
    *ngIf="!activeItem.parents.length"
    (setItem)="setActiveItem($event, 'main')"
  ></app-discover-header>
  <app-discover-subheader
    *ngIf="activeItem.parents.length"
    (setItem)="setActiveItem($event, 'parent')"
  ></app-discover-subheader>
  <div class="filters">
    <button
      class="btn-filter"
      [disabled]="!activeItem.selectedItems.length"
      (click)="toggleFiltersDialog()"
    >
      <img src="../../assets/icons/icn-filter.svg" alt="">
    </button>
    <app-year-picker></app-year-picker>
    <app-grid-toggle></app-grid-toggle>
  </div>
</section>
<app-discover-grid
  (setItem)="setActiveItem($event, 'children')"
></app-discover-grid>
