@import 'variables/colors';
@import 'variables/variables';
@import 'variables/typography';

:host {
  display: grid;
  grid-template-columns: 1fr aotw-grid(24);
  align-items: center;
  height: 100%;
  padding: aotw-grid(2);

  .breadcrumbs {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    gap: aotw-grid(1);
    padding-block: aotw-grid(5);

    ul {
      display: flex;
      flex-wrap: wrap;
  
      li {
        padding-right: aotw-grid(1);
  
        cursor: pointer;
  
        &::after {
          content: '/';
        }
      }
    }
    section {
      display: flex;
      align-items: center;
      gap: inherit;

      button {
        width: aotw-grid(4);
        height: aotw-grid(4);

        background-color: $primary-blue;
        border-radius: 50%;

        color: $default-white;
        font-weight: 600;
      }
    }
  }
}
