@import 'aotw-lib/theme/colors';
@import 'aotw-lib/theme/variables';
@import 'aotw-lib/theme/typography';

:host {
  display: grid;
  grid-template-columns: 1fr aotw-grid(24);
  align-items: center;
  height: 100%;
  padding: aotw-grid(4) aotw-grid(2) aotw-grid(2);

  .item-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    gap: aotw-grid(1);
    padding-block: aotw-grid(5);

    &_breadcrumbs {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: aotw-grid(1);

      li {
        position: relative;
        padding-right: aotw-grid(1);

        text-transform: uppercase;

        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          width: calc(100% - 17px);
          height: 1px;

          background-color: $primary-blue;
        }
        &::after {
          content: ' /';
        }
        a {
          font-weight: 400;
        }
      }
    }
    &_type {
      @include typography-header-smallcaps();
      color: $default-white;
      font-size: 1.25rem;
    }
    &_name {
      display: flex;
      align-items: center;
      gap: aotw-grid(2);

      button {
        width: aotw-grid(4);
        height: aotw-grid(4);

        background-color: $primary-blue;
        border-radius: 50%;

        color: $default-white;
        font-weight: 600;
      }
    }
  }
}
