<div class="item-info">
  <ul class="item-info_breadcrumbs">
    <li *ngFor="let parent of parents; let i = index">
      <a (click)="selectItem(parent, i)">{{ parent.code }}</a>
    </li>
  </ul>
  <p class="item-info_type">{{ item.itemType }}</p>
  <section class="item-info_name">
    <button
      class="btn-info"
      [disabled]="!item.name.length"
      (click)="showItemDetails()"
    >i</button>
    <h3>{{ item.name }}</h3>
  </section>
</div>
<aotw-visual [item]="item" [parents]="parentNames"></aotw-visual>
