@import 'aotw-lib/theme/colors';
@import 'aotw-lib/theme/typography';
@import 'aotw-lib/theme/variables';

:host {
  z-index: 300;
  position: absolute;
  display: flex;
  inset: 0;

  section {
    display: flex;
    flex-direction: column;
    gap: aotw-grid(7);

    header {
      font-size: 1.25rem;

      h3 {
        @include typography-header-smallcaps();
        color: $tertiary-steelblue;
        font-size: 1em;
      }
    }
    .parents,
    .visual-info {
      display: inherit;
      flex-direction: inherit;
      gap: aotw-grid(2);

      h4 {
        @include typography-header-smallcaps();
      }
      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: aotw-grid(2);

        h5 {
          @include typography-header-smallcaps();
          color: $tertiary-steelblue;
        }
      }
    }
  }
}
